---
title: 'Lab Medicine and Pathology - Residency and Fellowship Programs'
---
<!DOCTYPE html>
<html>
<head>
  <title>Lab Medicine and Pathology - Residency and Fellowship Programs {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='SITEURLGOESHERE/blog.rss' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link rel="stylesheet" href="{{site.baseurl}}/css/foundation.min.css">
  <script src="{{site.baseurl}}/js/vendor/custom.modernizr.js"></script>
</head>
<body>
    <nav class='top-bar'>
    	<ul class="title-area">
    		<!-- Title Area -->
    		<li class="name">
      			<h1><a href="#">Residency and Fellowship Programs</a></h1>
    		</li>
    		<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  		</ul>
  		<section class="top-bar-section">
			<!-- Left Nav Section -->
			<ul class="left">
        		<li><a class='{% if page.section == "blog" %}active{% endif %}' href='{{site.baseurl}}/'>Blog</a></li>
        		<li><a class='{% if page.url == "about/" %}active{% endif %}' href='{{site.baseurl}}/about'>About</a></li>
        	</ul>
        </section>
	</nav>
	<div class='row'>
		<div class="large-12 columns">
			<h1 class='title'><a href='{{site.baseurl}}/'>{{page.title}}</a></h1>
		</div>
	</div>
	<div class='row'>
		{{content}}
	</div>
  	<script src='{{site.baseurl}}/site.js'></script>
  	<script>
  		document.write('<script src=' +
  		('__proto__' in {} ? '{{site.baseurl}}/js/vendor/zepto' : '{{site.baseurl}}/js/vendor/jquery') + '.js><\/script>')
  	</script>

  	<script src="{{site.baseurl}}/js/foundation.min.js"></script>
  	<script src="{{site.baseurl}}/js/foundation/foundation.topbar.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
